html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

input {
  border: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: transparent;
}

p,
h1,
ul {
  margin: 0px;
  padding: 0px;
}
